canvas {
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    z-index: 1;
}


html, body{
	background-color: black;
	margin:0;
	padding:0;
}



/* dsgdg */

*, *:before, *:after {
	box-sizing: border-box;
}

#fps{
	left:60px;
}

#radius{
	top:0px;
}

#rounds{
	top:40px;
}

#downscale{
	top:80px;
}

#linear{
	top:170px;
	right:27px;
}

.myslider, #fps{
    color:white;
    font-size:large;
    font-weight: bold;
    font-family:'Segoe UI';
    z-index: 2;
    position:absolute;    
	margin: 40px;
	right:0px;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.myslider {
	width: 300px;
	text-align: right;
}

.myslider_range {
	-webkit-appearance: none;
	width: 100px;
	height: 10px;
	border-radius: 5px;
	background: #535353;
	outline: none;
	padding: 0;
	margin: 10px;
}

.myslider_range::-webkit-slider-thumb {
	appearance: none;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
}

.myslider_range::-webkit-slider-thumb:hover {
	background: #00fff2;
}

.myslider_value {
	display: inline-block;
	position: relative;
	width: 60px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background: #2c3e50;
	padding: 5px 10px;
}



.switch {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 65px;
	height: 34px;
	margin:10px;
  }

  switch:before{
	background:none;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 8px;
	bottom: 5px;
	background-color: rgba(255, 255, 255, 0.616);
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider:before {
	
	background-color: rgb(255, 255, 255);
  }
  
  input:checked + .slider {	
	background-color: rgba(204, 204, 204, 0.425);
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  